#TITULO{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80px;
    color: #000;
    background-color: red;
    text-align: center;
	
}

#VINCULOS{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: underline;
    color: blue;
}

.bg1{
    background-color: rgb(14, 182, 14);
    vertical-align: top;
}
.bg2{
    background-color: rgb(45, 45, 211);
    border: 1px
}

.bg0{
    vertical-align: top;
}

#TITULO2{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
    color: #000;
}

#encuesta_titulo{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

#encuesta_item{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    color: #000;
    text-align: left;
}

#encuesta_boton{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    color: #000;
    text-align: center;
}

#banner { 
    display:block; 
    width:100%;
    height:auto;
}

#autor{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    color: #000;
}


#autor_blue{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    color: blue;
}

#web2019{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
    color: #000;
}

#parrafos{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    color: #000;
}

