/* SuperDestinos */

#superdestinos {
    border: 3px solid black;
    }

#titulo_01{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    font-style: oblique;
}

#titulo_02{
    color:green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    font-style: oblique;
}

#titulo_03{
    color:blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    font-style: oblique;
}

#titulo_04{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    vertical-align: top;
    text-align: start;
}

.table_titulo{
    background-color: rgb(14, 182, 14);
    vertical-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border:0;
    height: 50px;
}


#padding_imagenes{
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left:35px;
    padding-right: 50px;

}

#bg3{
    background-color: aquamarine;
}

#tabla_busqueda{
    border: 2px solid lightblue;
}



/* Index */
#links_index{

    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
    color: lightgreen;
    text-align: center;
    font-style: oblique;
    font-weight: 20;

}

iframe {
    display:block;
    width:100%;
    height: 100%;
    outline: none;
    border:0;
  }

#iframebusqueda{
    display:block;
    width:100%;
    height: 100%;
    outline: none;
    border:0;
}

#index_table{
    width:80%;
    height:100%;
}
/* Form 2 */
#TITULO{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80px;
    color: #000;
    background-color: red;
    text-align: center;
	
}

#VINCULOS{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: underline;
    color: blue;
}

.bg1{
    background-color: rgb(14, 182, 14);
    vertical-align: top;
}
.bg2{
    background-color: rgb(45, 45, 211);
    border: 1px
}

.bg0{
    vertical-align: top;
}

#TITULO2{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
    color: #000;
}

#encuesta_titulo{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

#encuesta_item{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    color: #000;
    text-align: left;
}

#encuesta_boton{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    color: #000;
    text-align: center;
}

#banner { 
    display:block; 
    width:100%;
    height:auto;
}

#autor{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    color: #000;
}


#autor_blue{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    color: blue;
}

#web2019{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
    color: #000;
}

#parrafos{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
    color: #000;
}

/* Form 3 */

#header_form3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: black;
    background-color: beige;
    border-style: double;
    border-width: 2px;
}

#TITULO3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
    color: #000;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

#table_form3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: beige;
    border-style: groove;
    border-width: 2px;
}
textarea {
    overflow-y: scroll;
    height: 120px;
    width: 70%;
    resize: none;
}

